<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<style>
    html{
        font-family: 'Roboto', sans-serif;
    }
</style>

<!--COMPONENT: NUMBERS START -->
<div class="sp-numbers white-style">
    <div class="sp-numbers-item">
        <p class="sp-numbers-text">384</p>
        <p class="sp-numbers-sub-text">Registrovaných podnikov</p>
    </div>
    <div class="sp-numbers-item">
        <p class="sp-numbers-text">380</p>
        <p class="sp-numbers-sub-text">Pobočiek</p>
    </div>
    <div class="sp-numbers-item">
        <p class="sp-numbers-text">25</p>
        <p class="sp-numbers-sub-text">Odborov</p>
    </div>
    <div class="sp-numbers-item">
        <p class="sp-numbers-text">3280</p>
        <p class="sp-numbers-sub-text">sociálnych podnikov</p>
    </div>
    <div class="sp-numbers-item">
        <p class="sp-numbers-text">30</p>
        <p class="sp-numbers-sub-text">sociálnych podnikov</p>
    </div>
</div>
<!--COMPONENT: NUMBERS END -->
<!--STYLE NUMBERS-->    
<style>
    .sp-numbers{
    margin-top: 32px;
    margin-bottom: 32px;
    background: rgb(48,71,163);
    background: linear-gradient(155deg, rgba(48,71,163,1) 0%, rgba(60,92,218,1) 100%);
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: 150px;
    justify-content: space-around;
    color: #fff;
    padding: 8px;
}

.sp-numbers .sp-numbers-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    text-align: center;
}

.sp-numbers .sp-numbers-item .sp-numbers-text{
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sp-numbers .sp-numbers-item .sp-numbers-sub-text{
    font-size: 1rem;
    color: rgb(240, 240, 240);
    margin-bottom: 0.5rem;
    margin-top: 0;
}


.sp-numbers.white-style{
    color: rgb(48,71,163);
    background: transparent;
}
.sp-numbers.white-style .sp-numbers-item .sp-numbers-sub-text{
    font-size: 1rem;
    color: rgb(44, 44, 44);
    margin-bottom: 0.5rem;
    margin-top: 0;
}
</style>
<!--STYLE END -->   