<div style="width:200px;" class="mobile">
    <div>
            <div class="mobile-image">
                    <img src="{{Image URL}}" />
            </div>
            
            <div class="mobile-price">
                    <span class="price-display">
                            <b>{{Telefon}}</b>
                    </span>
                    <br>
                    <span class="price-explanation">
                            Dodatočné info
                    </span>
            </div>
    </div>
</div>

<div class="mobile-bis">
    <div class="screen">
            <div>
                    <div class="Name">{{Nazov}}</div>
                    <br>
                    <span class="City">
                        {{Samospravny kraj}}
                    </span>
                    <br><br>
                    <span class="sp-zoznam-desc-item">
                        <img class="sp-icon" src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
                        {{Adresa}}
                    </span>
                    <span class="sp-zoznam-desc-item">
                        <img class="sp-icon" src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
                        {{Telefon}}
                    </span>
                    <span class="sp-zoznam-desc-item">
                        <img href="{{Webová stránka}}" class="sp-icon" src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
                        <a href="{{Webová stránka}}" target="_blank">Webová stránka</a>
                    </span>

                    <div>
                            <div class="button-learn-more">
                                    <a target="_blank" href="https://www.google.com/search?q={{City}}+{{Name}}">Viac informácii</a>
                            </div>
                    </div>
            </div>
    </div>