<a href="{{Link}}" target="_blank" class="card-link">
    <div class="image-container">
        <img class="image" src='{{Logo}}' />
    </div>

    <div class="description">
        <div class="Name">{{Názov}}</div>
        <br>
        <span class="City">
            {{Samosprávny kraj}}
        </span>
        <br><br>
        <span class="sp-zoznam-desc-item">
            <img class="sp-icon" src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
            {{Full Address (sidlo - miesto podnikania)}}
        </span>
        <span class="sp-zoznam-desc-item">
            <img class="sp-icon" src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
            {{Telefón}}
        </span>
        <span class="sp-zoznam-desc-item">
            <img href="{{Webová stránka}}" class="sp-icon"
                src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
            <a href="{{Webová stránka}}" target="_blank">Webová stránka</a>
        </span>
    </div>
</a>