.cards-container .card .card-content{
  border-radius: 5px;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid #e3e3e3;
}

.cards-container .card .sp-card-content{
  padding: 0;
}

.sp-card-content .card-image{
  height: 200px;
  background-size: cover;
  overflow: hidden;
}

.sp-card-content .card-image img{
  width: 100%;
}

.cards-container .card .card-content .sp-icon{
  width: 30px;
  height: 30px;
  z-index: 2;
}

.card .card-content .sp-card-content .detailed-info{
  margin-top: 1rem;
  padding-right: 16px;
  padding-left: 16px;
}

.card .card-content .sp-card-content .detailed-info h1{
  margin: 0;
  color: #303133;
  font-size: 20px;
}

.card .card-content .sp-card-content .detailed-info .category{
  opacity: 0.8;
  font-size: 14px;
  margin-top: 2px;
}

.card .card-content .sp-card-content .sp-data-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.card .detailed-info .more-info{
  padding: 10px;
  text-align: center;
  background-color: #f28837;
  color: white;
  border-radius: 5px;
  margin-bottom: 16px;
  text-decoration: none;
}

.card .card-content .sp-card-content .image-container{
  width: 130px;
  height: 130px;    
  overflow: hidden;
  background: #fff;
  margin-right: 16px;
  text-align: center;
  line-height: 130px;
}

.card .card-content .sp-card-content .image-container img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.card .card-content .sp-card-content .data-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #303133;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item a{
  text-decoration: none;
  color: #303133;
  position: relative;
  line-height: 16px;
  z-index: 1;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item .web-page-link{
  color: white;
  position: relative;
}

.card .data-container .web-page-link::before{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5e7df8;
  z-index: -1;
  content: "";
  padding: 5px;
  padding-right: 40px;
  border-radius: 20px;
  top: -5px;
  left: -32px;
  box-sizing: content-box;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr.white{
  border: 1px solid white;
}

/*PAGINATION - start */
.awesomeTable-visualization-cards .cards-page{
  border: 0px solid black;
  height: 50px;
}

.cards-page .cards-page-button .at-pagination-button{
  display: contents;
}

.cards-page .cards-page-button .at-pagination-button .at-svg-icon{
  height: 40px;
  width: 40px;
  background-color: #506ad3;
  fill: white;
  margin-left: 16px;
  border-radius: 50%;
}

.cards-page .cards-page-button .at-pagination-button.cards-page-button-disabled .at-svg-icon{
  opacity: 0.4;
}

.cards-page{
  margin-right: 10px;
  margin-left: 10px;
}

.cards-page .cards-pageNumber{
  font-size: 12pt;
  position: absolute;
  left: 10px;
}

.at-table-fix .cards-page{
  justify-content: center;
}

.awesomeTable-visualization-cards .cards-page-button{
  margin-left: 0;
}
/*PAGINATION - end */

/***************************/
/*SEARCH AREA STYLE - start*/
/***************************/

.awt-vis-controls-csvFilter .awt-csvFilter-button{
  border: 1px solid transparent;
  background: transparent;
}

.at-filter-panel .controlers-filters{
  padding-bottom: 0 !important;
}

.controlers-filters:last-child{
  border-right: 1px solid transparent;
}

.at-layout-vertical>.at-action-panel{
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.awt-vis-controls-SearchFilter .awt-searchFilter-input{
  border: 1px solid transparent !important;
}

.awt-vis-controls-csvFilter .awt-csvFilter{
  border-right: 2px solid #d2d2d2;
}

.at-layout-container .at-filter-panel{
  justify-content: stretch;
  width: 100%;
}

.controlers-filters:last-child{
  flex-grow: 1;
}

.awt-vis-controls-csvFilter .awt-csvFilter-selected li{
  border: transparent 0px solid !important;
  background: #3047a3 !important;
}

.awt-vis-controls-csvFilter .awt-csvFilter-selected li > div{
  color: white;
}

#controlers4{
  padding: 0 !important;
}

#at-global-template .awt-csvFilter-dropdown-menu{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#at-global-template .awt-csvFilter-dropdown-menu .csvFilter-item.charts-menuitem{
  background: #3047a3;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
}

#at-global-template .awt-csvFilter-dropdown-menu{
  overflow-y: hidden;
  height: 54px;
}
