.cards-container .card .card-content{
  border-radius: 20px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.cards-container .card .card-content .custom-card-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(100% - 40px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #3047a3;
  transition: 0.25s ease-in-out;
  padding: 24px;
  padding-top: 0px;
  box-sizing: border-box;
  color: #fff;
  z-index: 3;
}

.cards-container .custom-card-overlay .sp-desc-text{
  z-index: 11;
  position: relative;
}

/*CLICK EVENT - start*/
.cards-container .card .card-content .custom-card-overlay.active{
  top: 0;
}
/*CLICK EVENT - end*/

.cards-container .card .card-content .custom-card-overlay .overlay-visible-part{
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container .card .card-content .custom-card-overlay.active .overlay-visible-part{
  margin-top: 10px;
  font-weight: bold;
}

.cards-container .card .card-content .custom-card-overlay.active .overlay-visible-part p{
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.4s ease-in-out;
}

.cards-container .card .card-content .custom-card-overlay .card-close-icon{
  display: none;
}

.cards-container .card .card-content .custom-card-overlay.active .card-close-icon{
  display: block;
}

.cards-container .card .card-content .custom-card-overlay p{
  margin: 0px;
  font-size: 0.9rem;
}

.cards-container .card .card-content .custom-card-overlay .hover-text{
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

.cards-container .card .sp-card-content{
  padding: 1.6rem;
  padding-bottom: 56px;
}

.cards-container .card .sp-card-content:hover, .cards-container .card .custom-card-overlay:hover .sp-card-content{
  background-color: white;
}

.cards-container .card .card-content .sp-icon{
  width: 30px;
  height: 30px;
  z-index: 2;
}

.card .card-content .sp-card-content .detailed-info{
  display: flex;
  flex-flow: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card .card-content .sp-card-content .card-headline h1{
  margin: 0;
  color: #303133;
  font-size: 1.2rem;
}

.card .card-content .sp-card-content .card-headline .samospravny-kraj{
  opacity: 0.8;
  font-size: 13px;
}

.card .card-content .sp-card-content .image-container{
  width: 130px;
  height: 130px;    
  overflow: hidden;
  background: #fff;
  margin-right: 16px;
  text-align: center;
  line-height: 130px;
}

.card .card-content .sp-card-content .image-container img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.card .card-content .sp-card-content .data-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #303133;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item a{
  text-decoration: none;
  color: #303133;
  position: relative;
  line-height: 16px;
  z-index: 1;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item .web-page-link{
  color: white;
}

.card .data-container .web-page-link::before{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5e7df8;
  z-index: -1;
  content: "";
  padding: 5px;
  padding-right: 40px;
  border-radius: 20px;
  top: -5px;
  left: -32px;
  box-sizing: content-box;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-card-overlay .custom-click-section{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.custom-card-overlay .custom-click-section:hover{
  cursor: pointer;
}

hr.white{
  border: 1px solid white;
}

.custom-card-overlay .card-close-icon{
  position: absolute;
  top: 16px;
  right: 16px;
}

/*.
.at-pagination-button:first-child::before{
  content: 'Predchádzajúca';
}

.at-pagination-button:nth-child(2)::after{
  content: 'Ďalšia';
}
*/

/*PAGINATION - start */
.awesomeTable-visualization-cards .cards-page{
  border: 0px solid black;
  height: 50px;
}

.cards-page .cards-page-button .at-pagination-button{
  display: contents;
}

.cards-page .cards-page-button .at-pagination-button .at-svg-icon{
  height: 40px;
  width: 40px;
  background-color: #506ad3;
  fill: white;
  margin-left: 16px;
  border-radius: 50%;
}

.cards-page .cards-page-button .at-pagination-button .at-svg-icon:hover{
  background-color: #3047a3;
}

.cards-page .cards-page-button .at-pagination-button.cards-page-button-disabled .at-svg-icon{
  opacity: 0.4;
}

.cards-page{
  margin-right: 10px;
  margin-left: 10px;
}

.cards-page .cards-pageNumber{
  font-size: 12pt;
  position: absolute;
  left: 10px;
}

.at-table-fix .cards-page{
  justify-content: center;
}

.awesomeTable-visualization-cards .cards-page-button{
  margin-left: 0;
}
/*PAGINATION - end */