<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


<div class="sp-switch">
    <a class="sp-item left-side-radius active" href="https://socialnaekonomika.sk/registrovane-sp-mapa/">
        <div class="sp-item-wrapper">
            <p>MAPA</p>
        </div>
    </a>
    <a class="sp-item right-side-radius" href="https://socialnaekonomika.sk/registrovane-socialne-podniky-zoznam/">
        <div class="sp-item-wrapper">
            <p>ZOZNAM</p>
        </div>
    </a>
</div>

<style>
    html{
        font-family: 'Roboto', sans-serif;
    }

    .sp-switch{
        display: flex;
        border-radius: 40px;
    }
    .sp-switch a.sp-item{
        width: 50%;
        text-decoration: none;
        background-color: #506ad3;
        color: white;
        letter-spacing: 12px;
        font-size: 20px;
        font-weight: 500;
        padding: 10px;
        text-indent:12px;
        transition: 0.2s ease-in-out;
    }

    .sp-switch a.sp-item:hover{
        box-shadow: inset #506ad3 0px 0px 0px 3px, inset #fff 0px 0px 0px 6px;
        /*box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;*/
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    .sp-switch .sp-item-wrapper p{
        margin: 0;
    }

    .right-side-radius{
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
    }

    .left-side-radius{
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
    }
    .sp-switch .sp-item-wrapper{
        display: flex;
        justify-content: center;
    }

    .sp-switch a.sp-item.active{
        background-color: #3047a3;
    }
</style>