/* FONT SETTINGS - end*/
#at-global-template, #dashboard{
  font-family: 'Open Sans', sans-serif;
}
/* FONT SETTINGS - start*/

/******************/
/** CARD - start **/
/******************/
.cards-container{
  margin-right: 16px;
  margin-left: 16px;
}

.cards-container .card .card-content{
  border-radius: 10px;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid #e3e3e3;
}

.cards-container .card .sp-card-content{
  padding: 0;
}

.sp-card-content .image-wrapper{
  height: 250px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sp-card-content .card-image{
  transition: 0.4s;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform: scale(1.05);
}

.cards-container .card .card-content .sp-icon{
  width: 16px;
  height: 16px;
  z-index: 2;
}

.card .card-content .sp-card-content .detailed-info{
  margin-top: 1rem;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 64px;
}

.card .card-content .sp-card-content .detailed-info h2{
  margin: 0;
  color: #5b8300;
  font-size: 19px;
}

.card .card-content .sp-card-content .detailed-info .category{
  opacity: 0.8;
  font-size: 14px;
  margin-top: 2px;
  color: #7f7f7f;
}


.card .detailed-info .more-info{
  padding: 10px;
  text-align: center;
  background-color: #f28837;
  background-color: #016a66;
  background-color: #f28837;
  color: white;
  border-radius: 10px;
  margin-bottom: 16px;
  text-decoration: none;
  place-self: flex-end;
  padding-right: 16px;
  padding-left: 16px;
}

.card .card-content .sp-card-content .image-container{
  width: 130px;
  height: 130px;    
  overflow: hidden;
  background: #fff;
  margin-right: 16px;
  text-align: center;
  line-height: 130px;
}

.card .card-content .sp-card-content .image-container img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item{
  display: inline-flex;
  gap: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  color: #222222;
  width: 100%;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item p{
  margin: 4px;
}

.card .sp-card-content .sp-show-more-wrapper{
    position: absolute;
    bottom: 28px;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item a{
  text-decoration: none;
  color: #303133;
  position: relative;
  line-height: 16px;
  z-index: 1;
}

.card .sp-card-content .data-container .sp-zoznam-desc-item .web-page-link{
  color: white;
  position: relative;
}

.card .data-container .web-page-link::before{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5e7df8;
  z-index: -1;
  content: "";
  padding: 5px;
  padding-right: 40px;
  border-radius: 10px;
  top: -5px;
  left: -32px;
  box-sizing: content-box;
}

/******************/
/*** CARD - end ***/
/******************/

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*PAGINATION - start */
.awesomeTable-visualization-cards .cards-page{
  border: 0px solid black;
  height: 50px;
}

.cards-page .cards-page-button .at-pagination-button{
  display: contents;
}

.cards-page .cards-page-button .at-pagination-button .at-svg-icon{
  height: 40px;
  width: 40px;
  background-color: #5b8300;
  fill: white;
  margin-left: 16px;
  border-radius: 50%;
}

.cards-page .cards-page-button .at-pagination-button.cards-page-button-disabled .at-svg-icon{
  opacity: 0.4;
}

.cards-page{
  margin-right: 10px;
  margin-left: 10px;
}

.cards-page .cards-pageNumber{
  font-size: 13pt;
  position: absolute;
  left: 16px;
}

.at-table-fix .cards-page{
  justify-content: center;
}

.awesomeTable-visualization-cards .cards-page-button{
  margin-left: 0;
}
/*PAGINATION - end */

/***************************/
/*SEARCH AREA STYLE - start*/
/***************************/

.awt-vis-controls-csvFilter .awt-csvFilter-button{
  border: 1px solid transparent;
  background: #f07d10;
  color: white;
  height: 72px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  box-shadow: (0 0 0 / 24%) 0px 3px 8px;
}

.at-action-menu .at-action-menu-icon{
  position: absolute;
  right: 16px;
  display: none;
}


/***************************************************/
/****************FSEARCH BAR************************/
/***************************************************/

#dashboard .at-filter-panel .searchFilter{
  opacity: 0;
  position: absolute;
}

#dashboard #at-button-cleanFilter{
  display: none;
}

#dashboard .searchFilter.stringFilter{
  display: none;
}

/***************************************************/
/***************************************************/
/***************************************************/

.sp-catalog-search-init .searchFilter{
  opacity: 1;
  position: relative;
}

.awt-vis-controls-csvFilter .awt-csvFilter-button--active{
  padding: 3px 8px;
  /*background-color: #506ad3;*/
}

.awesomeTable-visualization-cards .card-content{
  margin: 16px;
}

.awesomeTable-visualization-cards .card-content:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.awesomeTable-visualization-cards .card-content:hover .card-image{
  transform: scale(1.2);
}


.at-filter-panel .controlers-filters{
  padding-bottom: 0 !important;
  padding-right: 40px;
  z-index: 20000;
  position: relative;
  width: 240px;
}

.at-filter-panel .csvFilter:last-child{
  padding-right: 0px;
}

.awt-vis-controls-csvFilter .csvFilter-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  margin-right: 15px;
}

.cards-page #at-button-cleanFilter{
  position: absolute;
  right: 0;
}

.awt-vis-controls-csvFilter .csvFilter-item:hover{
  
}

/*DROPDOWN FILTER START*/
.awt-vis-controls-csvFilter .awt-csvFilter-dropdown-menu{
  border: none;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: rgb(53, 53, 53);
  z-index: 99999;
  border: solid 15px #fff !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-color: transparent;
  border-top-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

/* width */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8efdc;
}
 
/* Handle */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar-thumb {
  background: #f07d10;
  padding: 5px; 
  border-radius: 10px;
}

/* Handle on hover */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #fc881c; 
}
/*DROPDOWN FILTER END*/

.awt-vis-controls-csvFilter .awt-csvFilter-label{
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.awt-vis-controls-csvFilter .awt-csvFilter-label.displayNone{
  display: none;
}

.awt-input-placeholder svg{
  fill: white;
}

.at-filter-panel .awt-vis-controls-csvFilter .awt-csvFilter-button input{
  background-color: transparent;
  outline: 0;
  color: #ffffff;
}

.awt-vis-controls-csvFilter .awt-csvFilter-button input::placeholder{
  color: #eeeeee;
}

.at-filter-panel .awt-input-placeholder{
  position: static;
}

.at-layout-vertical>.at-action-panel{
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.at-filter-panel .awt-vis-controls-csvFilter {
  width: 100%;
}

.at-layout-container .at-filter-panel{
  margin-right: 0;
  margin-top: -60px;
  padding: 32px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.awt-vis-controls-csvFilter ul.awt-csvFilter-selected{
  padding-right: 10px;
  padding-left: 10px;
}

.awt-vis-controls-csvFilter .awt-csvFilter-selected li{
  border: transparent 0px solid !important;
  background: #5b8300 !important;
  padding: 10px;
}

.awt-vis-controls-csvFilter .awt-csvFilter-selected li > div{
  color: white;
}

#controlers3{
  padding: 0 !important;
}

#at-global-template .awt-csvFilter-dropdown-menu{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#at-global-template .awt-csvFilter-dropdown-menu .csvFilter-item.charts-menuitem{
  background: #f07d10;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  height: 50px;
}

#at-global-template .awt-csvFilter-dropdown-menu{
  overflow-y: hidden;
  height: 54px;
  display: flex !important;
}

#controlers1{
  display: flex !important;
}

#at-global-template .categoryFilter .awt-csvFilter{
  display: none;
}

@media only screen and (max-width: 600px) {
  .at-filter-panel .controlers-filters{
    width: 100%;
    padding: 0;
  }
  .awt-vis-controls-csvFilter .awt-csvFilter-dropdown-menu{
    position: relative;
  }

  .awt-vis-controls-csvFilter .awt-csvFilter-button--active::before {
    content: '\2715';
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    border: 1px solid white;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 8px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    }
}

.at-layout-container .at-filter-panel{
    padding-right: 24px;
    padding-left: 24px;
}

.at-chart-panel .count{
    padding-left: 8px;
}