/* FONT SETTINGS - end*/
#at-global-template, #dashboard{
  font-family: 'Open Sans', sans-serif;
}
/* FONT SETTINGS - start*/

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/****** NO RESULT - TEXT ARE -end *******/
.at-count .at-nb-results{
  font-size: 16px;
  color: #303133;
  line-height: 1.4em;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: normal;
}

.at-count .at-icon-results{
  width: 36px;
  height: 36px;
  margin-right: 20px;
  margin-left: 20px;
}

.at-count .at-icon-results .at-svg-icon{
  fill: #303133 !important;
}

#dashboard .at-nb-results::before{
  content: 'Ľutujeme, zadaným kritériám nevyhovuje žiadny sociálny podnik. Skúste spresniť svoje vyhľadávanie.';
}

#dashboard .at-nb-results b{
  display: none;
}
/****** NO RESULT - TEXT ARE -start *****/

/***************************/
/*SEARCH AREA STYLE - start*/
/***************************/

.awt-vis-controls-csvFilter .awt-csvFilter-button{
  border: 1px solid transparent;
  background: #f07d10;
  color: white;
  height: 72px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  box-shadow: (0 0 0 / 24%) 0px 3px 8px;
}

.at-action-menu .at-action-menu-icon{
  position: absolute;
  right: 16px;
  display: none;
}
/***************************************************/
/****************FSEARCH BAR************************/
/***************************************************/

#dashboard .at-filter-panel .searchFilter{
  opacity: 0;
  position: absolute;
}

#dashboard #at-button-cleanFilter{
  display: none;
}

#dashboard .searchFilter.stringFilter{
  display: none;
}

/***************************************************/
/***************************************************/
/***************************************************/

.sp-catalog-search-init .searchFilter{
  opacity: 1;
  position: relative;
}

.awt-vis-controls-csvFilter .awt-csvFilter-button--active{
  padding: 3px 8px;
  /*background-color: #506ad3;*/
}

.at-filter-panel .controlers-filters{
  padding-bottom: 0 !important;
  padding-right: 40px;
  z-index: 20000;
  position: relative;
  width: 240px;
}

.at-filter-panel .csvFilter:last-child{
  padding-right: 0px;
}

.awt-vis-controls-csvFilter .csvFilter-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  margin-right: 15px;
}

.cards-page #at-button-cleanFilter{
  position: absolute;
  right: 0;
}

.awt-vis-controls-csvFilter .csvFilter-item:hover{
  
}

/*DROPDOWN FILTER START*/
.awt-vis-controls-csvFilter .awt-csvFilter-dropdown-menu{
  border: none;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: rgb(53, 53, 53);
  z-index: 99999;
  border: solid 15px #fff !important;
  border-bottom-color: transparent;
  border-top-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

/* width */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8efdc;
}
 
/* Handle */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar-thumb {
  background: #f07d10;
  padding: 5px; 
  border-radius: 10px;
}

/* Handle on hover */
.awt-csvFilter-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #fc881c; 
}
/*DROPDOWN FILTER END*/

.awt-vis-controls-csvFilter .awt-csvFilter-label{
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.awt-vis-controls-csvFilter .awt-csvFilter-label.displayNone{
  display: none;
}

.awt-input-placeholder svg{
  fill: white;
}

.at-filter-panel .awt-vis-controls-csvFilter .awt-csvFilter-button input{
  background-color: transparent;
  outline: 0;
  color: #ffffff;
}

.awt-vis-controls-csvFilter .awt-csvFilter-button input::placeholder{
  color: #eeeeee;
}

.at-filter-panel .awt-input-placeholder{
  position: static;
}

.at-layout-vertical>.at-action-panel{
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.at-filter-panel .awt-vis-controls-csvFilter {
  width: 100%;
}

.at-layout-container .at-filter-panel{
  margin-right: 0;
  margin-top: -60px;
  padding: 32px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.awt-vis-controls-csvFilter ul.awt-csvFilter-selected{
  padding-right: 10px;
  padding-left: 10px;
}

.awt-vis-controls-csvFilter .awt-csvFilter-selected li{
  border: transparent 0px solid !important;
  background: #5b8300 !important;
  padding: 10px;
}

.awt-vis-controls-csvFilter .awt-csvFilter-selected li > div{
  color: white;
}

#controlers3{
  padding: 0 !important;
}

#at-global-template .awt-csvFilter-dropdown-menu{
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#at-global-template .awt-csvFilter-dropdown-menu .csvFilter-item.charts-menuitem{
  background: #f07d10;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 180px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  height: 50px;
}

#at-global-template .awt-csvFilter-dropdown-menu{
  overflow-y: hidden;
  height: 54px;
  display: flex !important;
}

#controlers1{
  display: flex !important;
}

#at-global-template .categoryFilter .awt-csvFilter{
  display: none;
}

@media only screen and (max-width: 600px) {
  .at-filter-panel .controlers-filters{
    width: 100%;
    padding: 0;
  }
  .awt-vis-controls-csvFilter .awt-csvFilter-dropdown-menu{
    position: relative;
  }

  .awt-vis-controls-csvFilter .awt-csvFilter-button--active::before{
    content: 'X';
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    border: 1px solid white;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}