
    <div style="width:200px;" class="mobile">
        <div>
                <div class="mobile-image">
                        <img src="{{Image URL}}" />
                </div>
                
                <div class="mobile-price">
                        <span class="price-display">
                                <b>{{Price}}</b>
                        </span>
                        <br>
                        <span class="price-explanation">
                                Average price per night
                        </span>
                </div>
        </div>
    </div>
    
    <div class="mobile-bis">
        <div class="screen">
                <div>
                        <div class="Name">{{Name}}</div>
                        <br>
                        <span class="City">{{City}}</span>
                        <br>
                        <br>
                        {{Description}}
                        <br>
                        {{Adresa}}
                        <br>
                        {{Adresa}}
                        <br>
                        <div>
                                <div class="display-facility">
                                        <img class="facility" data-facilities="{{Facilities}}" data-facility="parking" src="https://sites.google.com/site/scriptsexamples/parking-icon.png">
                                        <img class="facility" data-facilities="{{Facilities}}" data-facility="wifi" src="https://sites.google.com/site/scriptsexamples/wifi-icon.png">
                                        <img class="facility" data-facilities="{{Facilities}}" data-facility="gym" src="https://sites.google.com/site/scriptsexamples/gym-icon.png">
                                </div>
                                <div class="button-learn-more">
                                        <a target="_blank" href="https://www.google.com/search?q={{City}}+{{Name}}">Learn More</a>
                                </div>
                        </div>
                </div>
        </div>
